*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
/tmp
/asp-01.pdf
/asp-00.pdf
/asp-02.pdf
/asp-03.pdf
/asp-04.pdf
/asp-05.pdf
/asp-06.pdf
/asp-07.pdf
/asp-08.pdf
/asp-09.pdf
/asp-109.pdf
/asp-10.pdf
/asp-11.pdf
/asp-12.pdf

*.pygtex

*.pygstyle

asp-13.pdf

asp-14.pdf

asp-15.pdf

asp-13.pdf
